<!DOCTYPE html>
<html lang="en"></html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dojodachi!!!!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css">
	</head>
    <body>
        <h1>Welcome To Dojoachi!</h1>
        <h2>Give Your Dojoachi a Name:</h2>
        <form action="/createDachi" method="post">
            <div>Your Name:  <input type="text" name="Name"></div>
            <input class="btn" type="submit" value="Let's Play!">
        </form>
    </body>
</html>