<!DOCTYPE html>
<html lang="en"></html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dojodachi!!!!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css">
	</head>
    <body>
        <div class="container">
            <partial name="HeaderPartial" />
            <partial name="DisplayInitPartial" />
            <partial name="ButtonPartial" />
        </div>
        
    </body>
</html>